!!!5
html
  head
    -var title = title || 'wut'
    title= title
    script(src='/js/lib/jquery-1.6.2.js')
    script(src='/js/lib/console-dummy.js')
    script(src='/js/lib/underscore.js')
    // script(src='/js/lib/backbone-debug-0.5.3.js')
    // script(src='/socket.io/socket.io.js')
    // script(src='/js/module.js')
    // script(src='/skull.io/skull.io.js')
    script(src='/js/bs/bootstrap-dropdown.js')
    // script(src='/js/app.js')
    link( href="/css/basics.css", rel="stylesheet")
  body
    header.topbar
      .fill
        .container
          a(href="/").brand Project Doc
          ul.nav
            li.active
              a(href="/") Home
            li
              a(href="/projects") Projects
            li
              a(href="/featured") Featured
            li
              a(href="/tools") Tools
            li.d
          ul.nav.secondary-nav
            -if( !auth.loggedIn )
              li.dropdown(data-dropdown="login")
                a.dropdown-toggle(href="#") Login
                ul.dropdown-menu.login-register
                  li
                    a(href="/auth/twitter")
                      img(src="//twitter.com/favicon.ico")
                      | with Twitter
                    //- a(href="/auth/facebook")
                      //- img(src="//facebook.com/favicon.ico")
                      //- | with Facebook
                  li
                    a(href="/auth/github")
                      img(src="//github.com/favicon.ico")
                      | with Github
                  li
                    a(href="/login") with User/Pass
                  li.divider
                  li
                    a(href="/register") Register Account
            -else
              li.dropdown.account(data-dropdown="account")
                a.dropdown-toggle.user-photo(href="#")
                  -if(session.user.image)
                    img(src=session.user.image)
                  = session.user.name || 'no name'
                ul.dropdown-menu
                  li
                    a(href="/settings") Settings
                  li
                    a(href="/myProjects") Projects
                  li
                    a(href="/project/new") New Project
                  li
                    a(href="/logout") Logout
                  
    
    section.container
      .content
        != body
      footer
        p &copy; Project Doc, or sumtin